---

---

<div id="drawer-skeleton" class="htmx-indicator">
  <div class="drawer-item-details skeleton-container">
    <div class="drawer-item-header">
      <h2 class="drawer-item-title skeleton-text"></h2>
    </div>
    <div class="drawer-item-image-container">
      <div class="skeleton-image"></div>
    </div>
    <div class="drawer-item-info">
      <div class="drawer-item-section">
        <h3 class="drawer-section-title skeleton-text"></h3>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
      </div>
      <div class="drawer-item-section">
        <h3 class="drawer-section-title skeleton-text"></h3>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
      </div>
      <div class="drawer-item-section">
        <h3 class="drawer-section-title skeleton-text"></h3>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
        <div class="drawer-item-detail">
          <span class="drawer-detail-label skeleton-text-sm"></span>
          <span class="drawer-detail-value skeleton-text-sm"></span>
        </div>
      </div>
    </div>
  </div>
</div>
