<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" http-equiv="X-UA-Compatible" name="viewport">
  <title>TradeMateApp</title>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
          src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
  <style>
    body {
      color: var(--tg-theme-text-color);
      background: var(--tg-theme-bg-color);
    }
  </style>

</head>
<body>
<script>
  const app = window.Telegram.WebApp;
  app.ready();
</script>
{% block content %} {% endblock %}
</body>
</html>
