<div class="bg-white pb-1">
  <table class="table-auto bg-white text-xs w-full text-gray-900 border">
    <thead>
    <tr class="odd:bg-gray-100 text-left">
      <th class="px-1 border whitespace-nowrap">Date</th>
      <th class="px-1 border whitespace-nowrap">Type</th>
      <th class="px-1 border whitespace-nowrap">Count</th>
      <th class="px-1 border whitespace-nowrap">Price, {{currency}}</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
    {% for deal in deals %}
    <tr>
      <td class="px-1 border whitespace-nowrap">{{ deal.date }}</td>
      <td class="px-1 border whitespace-nowrap">{{ deal.type }}</td>
      <td class="px-1 border whitespace-nowrap">{{ deal.count }}</td>
      <td class="px-1 border whitespace-nowrap">{{ deal.price }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
