.drawer-item-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px
}

.drawer-item-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px
}

.drawer-item-image {
    max-width: 100%;
    height: auto;
    border-radius: var(--tg-border-radius);
    max-height: 200px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.9));
}

.theme-dark .drawer-item-image {
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.9));
}

.drawer-item-info {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.drawer-item-section {
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
    padding-bottom: 12px
}

.drawer-item-section:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.drawer-section-title {
    font-size: var(--tg-font-size-md);
    font-weight: 500;
    margin: 0 0 8px;
    color: var(--tg-theme-text-color)
}

.drawer-item-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.drawer-item-detail:last-child {
    margin-bottom: 0
}

.drawer-detail-label {
    font-size: var(--tg-font-size-sm);
    color: var(--tg-theme-hint-color)
}

.drawer-detail-value {
    font-size: var(--tg-font-size-sm);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px
}

.drawer-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px
}

.drawer-item-title {
    font-size: var(--tg-font-size-xl);
    font-weight: 500;
    margin: 0;
    color: var(--tg-theme-text-color)
}

.drawer-deals-stats {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 4px
}

.drawer-stats-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: var(--tg-font-size-sm);
    border-radius: var(--tg-border-radius);
    overflow: hidden;
    border: 1px solid var(--tg-theme-secondary-bg-color);
}

.drawer-stats-table th {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-hint-color);
    text-align: left;
    padding: 8px;
    font-weight: 500;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}

.drawer-stats-table td {
    padding: 8px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
    border-top: none;
}

.drawer-stats-table .buy-row td:first-child {
    color: var(--tg-color-positive);
    font-weight: 500;
}

.drawer-stats-table .sell-row td:first-child {
    color: var(--tg-color-negative);
    font-weight: 500;
}

.drawer-stats-table .sell-row td {
    border-bottom: none;
}

.drawer-overall-profit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-border-radius);
    margin-top: 2px;
}

.drawer-deals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px
}

.drawer-deal-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    border-radius: var(--tg-border-radius);
    background-color: var(--tg-theme-secondary-bg-color);
    border-left: 3px solid transparent
}

.drawer-deal-item.buy {
    border-left-color: var(--tg-color-positive)
}

.drawer-deal-item.sell {
    border-left-color: var(--tg-color-negative)
}

.drawer-deal-type {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: var(--tg-font-size-sm);
    margin-right: 12px;
    min-width: 40px
}

.drawer-deal-item.buy .drawer-deal-type {
    color: var(--tg-color-positive)
}

.drawer-deal-item.sell .drawer-deal-type {
    color: var(--tg-color-negative)
}

.drawer-deal-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1
}

.drawer-deal-info {
    display: flex;
    align-items: center;
    gap: 8px
}

.drawer-deal-price {
    font-weight: 500;
    font-size: var(--tg-font-size-sm)
}

.drawer-deal-volume {
    font-size: var(--tg-font-size-sm);
    color: var(--tg-theme-hint-color)
}

.drawer-deal-date {
    font-size: var(--tg-font-size-xs);
    color: var(--tg-theme-hint-color)
}

.skeleton-container {
    animation: pulse 1.5s infinite ease-in-out
}

.skeleton-text {
    height: 18px;
    width: 70%;
    background-color: #0000001a;
    border-radius: 4px;
    margin-bottom: 8px
}

.skeleton-text-sm {
    height: 13px;
    width: 50%;
    background-color: #0000001a;
    border-radius: 4px;
    margin-bottom: 4px
}

.skeleton-image {
    width: 100%;
    height: 200px;
    background-color: #0000001a;
    border-radius: 8px
}

@media (prefers-color-scheme: dark) {
    .skeleton-text, .skeleton-text-sm, .skeleton-image {
        background-color: #ffffff1a
    }
}

@keyframes pulse {
    0% {
        opacity: .6
    }

    50% {
        opacity: .8
    }

    100% {
        opacity: .6
    }
}

.portfolio-container, .empty-portfolio {
    transition: opacity var(--tg-animation-duration) ease-in-out
}

.htmx-settling .portfolio-container, .htmx-request .portfolio-container, .htmx-settling .empty-portfolio, .htmx-request .empty-portfolio {
    opacity: .7
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: var(--tg-spacing-md);
    z-index: 3;
    padding-top: var(--header-height);
    padding-left: var(--tg-spacing-sm);
    padding-right: var(--tg-spacing-sm)
}

.portfolio-summary-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0 2px 2px -2px #0000001a;
    display: flex;
    flex-direction: column;
    gap: var(--tg-spacing-sm);
    padding: 0 var(--tg-spacing-sm) var(--tg-spacing-md);
    height: var(--header-height)
}

.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.summary-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: var(--tg-spacing-sm)
}

.summary-label {
    font-size: var(--tg-font-size-sm);
    color: var(--tg-theme-hint-color);
    margin-bottom: 4px
}

.summary-value {
    font-size: var(--tg-font-size-sm);
    font-weight: 600
}

.portfolio-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tg-spacing-sm);
    width: 100%
}

.sort-buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort-type-button {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
}

@media (hover: hover) {
    .sort-type-button:hover {
        background-color: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
    }
}

.sort-type-button:active {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.sort-type-button.active {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.sort-direction-button {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .sort-direction-button:hover {
        background-color: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
    }
}

.sort-direction-button:active {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.sort-direction-button:focus {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    outline: none;
}

.sort-lines-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 20px;
    height: 20px;
    justify-content: space-between;
}

.sort-line {
    height: 2px;
    background-color: currentColor;
    border-radius: 1px;
}

.sort-line-long {
    width: 16px;
}

.sort-line-medium-long {
    width: 14px;
}

.sort-line-medium {
    width: 12px;
}

.sort-line-medium-short {
    width: 10px;
}

.sort-line-short {
    width: 8px;
}

.sort-direction-button.asc .sort-lines-container {
    flex-direction: column-reverse;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    gap: var(--tg-spacing-sm);
    margin-top: var(--tg-spacing-md)
}

.portfolio-item {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-border-radius);
    padding: var(--tg-spacing-sm);
    box-shadow: 0 1px 2px #0000001a
}

.item-header {
    display: flex;
    align-items: flex-start;
    gap: var(--tg-spacing-sm);
    position: relative;
    padding: calc(var(--tg-spacing-sm) / 8);
    justify-content: space-between
}

.item-name-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%
}

.item-quantity-badge {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 6px;
    padding: 2px 4px;
    font-size: var(--tg-font-size-xs);
    font-weight: 500;
    min-width: 16px;
    min-height: 16px;
    text-align: center;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 2px
}

.item-quantity-badge.single-digit {
    padding: 2px;
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1
}

.item-image {
    width: 90px;
    height: auto;
    border-radius: var(--tg-border-radius);
    object-fit: contain;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.9));
}

.theme-dark .item-image {
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.9));
}

.item-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    min-width: 0
}

.item-title h3 {
    margin: 0;
    font-size: var(--tg-font-size-sm);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0
}

.item-name-and-days {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    min-width: 0
}

.item-days {
    margin: 0;
    font-size: var(--tg-font-size-xs);
    color: var(--tg-theme-hint-color)
}

.item-details {
    display: flex;
    gap: 12px;
    word-break: break-word;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.item-row {
    display: flex;
    justify-content: space-between;
    gap: 4px
}

.item-detail {
    min-width: 0;
    overflow: hidden
}

.detail-label {
    font-size: var(--tg-font-size-xs);
    color: var(--tg-theme-hint-color)
}

.detail-value {
    font-size: var(--tg-font-size-sm);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.item-header h3 {
    margin: 0;
    font-size: var(--tg-font-size-md);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 97%;
    align-items: center
}

.item-image-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.item-price-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}

.item-profit-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}

.detail-value-custom {
    font-size: var(--tg-font-size-sm)
}

.empty-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--tg-spacing-lg);
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-border-radius);
    text-align: center;
    z-index: 10;
    position: relative;
}

.empty-portfolio p {
    color: var(--tg-theme-hint-color);
    font-size: var(--tg-font-size-md);
    margin: 0;
}

.down-arrow {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5vh;
    left: 0;
    right: 0;
    color: var(--tg-theme-button-color);
    animation: bounce 2s infinite;
    z-index: 5;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.profit-positive {
    color: var(--tg-color-positive)
}

.profit-negative {
    color: var(--tg-color-negative)
}

.clickable-item-name {
    cursor: pointer;
    color: var(--tg-theme-link-color);
    transition: opacity .2s ease
}

.clickable-item-name:hover {
    opacity: .8
}

.bottom-drawer {
    position: fixed;
    bottom: -100vh;
    left: 0;
    right: 0;
    max-height: 90vh;
    height: auto;
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0 -1px 5px #00000026;
    transition: bottom .3s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
    border-radius: 14px 14px 0 0;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.bottom-drawer.open {
    bottom: 0;
    transform: translateY(0)
}

.bottom-drawer.closing {
    transform: translateY(100%)
}

.drawer-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
}

.drawer-handle::before {
    content: "";
    width: 36px;
    height: 4px;
    background-color: var(--tg-theme-hint-color, #a8a8a8);
    opacity: .4;
    border-radius: 4px
}

#drawer-content {
    padding: 0 16px 16px;
    overflow-y: auto;
    max-height: calc(90vh - 30px);
    -webkit-overflow-scrolling: touch
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0006;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    z-index: 999
}

.overlay.active {
    opacity: 1;
    visibility: visible
}

@media (prefers-color-scheme: dark) {
    .bottom-drawer {
        box-shadow: 0 -1px 5px #0000004d
    }

    .overlay {
        background-color: #0009
    }
}
