.search-item {
    display: flex;
    align-items: center;
    gap: var(--tg-spacing-md);
    padding: var(--tg-spacing-sm);
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-border-radius);
    margin-bottom: var(--tg-spacing-sm);
    transition: background-color var(--tg-animation-duration);
    cursor: pointer;
}

.search-item:hover {
    background-color: #0000000d
}

.theme-dark .search-item:hover {
    background-color: #ffffff0d
}

.search-item img {
    height: 40px;
    border-radius: var(--tg-border-radius);
    object-fit: contain;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.9));
}

.theme-dark .search-item img {
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.9));
}

.search-item span {
    font-size: var(--tg-font-size-md);
    color: var(--tg-theme-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0
}

.search-input-container {
    position: relative;
    width: 100%;
    z-index: 999;
}

.telegram-search-input {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    border-radius: 18px;
    padding: 8px 36px;
    font-size: var(--tg-font-size-md);
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    transition: background-color .2s ease
}

.telegram-search-input:focus {
    outline: none;
    background-color: var(--tg-theme-secondary-bg-color)
}

.telegram-search-input::placeholder {
    color: var(--tg-theme-hint-color)
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--tg-theme-hint-color);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.clear-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--tg-theme-hint-color);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center
}

.clear-icon:hover {
    color: var(--tg-theme-text-color)
}
