---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
  <div class="under-development-container">
    <div class="under-development-message">
      <p>
        This app can only work within the Telegram. Make sure it opens using the
        Telegram bot.
      </p>
    </div>
  </div>
</AppLayout>
