---
import AppLayout from "../layouts/AppLayout.astro";

const name = Astro.url.searchParams.get("name");
const portfolioUrl = name
  ? `/partials/portfolio/?name=${encodeURIComponent(name)}`
  : "/partials/portfolio/";
---

<AppLayout>
  <div
    hx-get={portfolioUrl}
    hx-target="main"
    hx-swap="outerHTML"
    hx-trigger="load"
    hx-indicator="#main-content-skeleton"
  >
  </div>
</AppLayout>
