---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
  <div
    hx-get="/partials/stats/"
    hx-target="main"
    hx-swap="outerHTML"
    hx-trigger="load"
    hx-indicator="#main-content-skeleton"
  >
  </div>
</AppLayout>
